<mat-toolbar color="primary">
  <a mat-button routerLink="/" class="logo">SA-Services</a>
  <a mat-button routerLink="/events">Events</a>
  <a mat-button routerLink="/subscriptions">Subscriptions</a>
  <a mat-button routerLink="/validate-certificate">Validate certificate</a>
  <a mat-button routerLink="/checkin">Checkin</a>
  <span class="spacer"></span>
  <ng-container *ngIf="hasUser">
    <mat-slide-toggle
      [checked]="isOnline"
      (change)="toggleOnline()">
      <a mat-button>Online</a>
    </mat-slide-toggle>
    <a mat-button routerLink="/logout">Logout</a>
  </ng-container>
  <ng-container *ngIf="!hasUser">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
